<form id="project-form" class="cont-lv1" method="post" action="{0}">
	<div class="form-input-cont">
		<div class="label">
			<label for="prjname">
				Project name
			</label>
		</div>
		<input type="text" id="prjname" name="prjname" value="{1}" />
	</div>
	<div class="form-input-cont">
		<div class="label">
			<label for="prjshortname">
				Short name
			</label>
		</div>
		<input type="text" name="prjshortname" id="prjshortname" value="{2}" />
	</div>
	<div class="form-input-cont">
		<div class="label">
			<label for="prjdesc">
				Description
			</label>
		</div>
		<textarea form="project-form" id="prjdesc" name="prjdesc">{3}</textarea>
	</div>
	<input type="submit" />
</form>