
<form id="project-form" class="cont-lv1" method="post" action="{3}/action" autocomplete="off">
	<div class="form-input-cont">
		<div class="label">
			<label for="prjname">
				Project name
			</label>
		</div>
		<input type="text" id="prjname" name="prjname" placeholder="Name of the project" value="{0}" />
	</div>
	<div class="form-input-cont">
		<div class="label">
			<label for="prjshortname">
				Short name
			</label>
		</div>
		<input type="text" name="prjshortname" id="prjshortname" placeholder="Abbreviation for task names, e.g. PRJ" value="{1}" />
	</div>
	<div class="form-input-cont">
		<div class="label">
			<label for="prjdesc">
				Description
			</label>
		</div>
		<textarea form="project-form" id="prjdesc" name="prjdesc">{2}</textarea>
	</div>
	<input type="submit" />
</form>
