
<form id="task-form" class="cont-lv1" method="post" action="{6}/action" autocomplete="off">
	<div class="form-input-cont">
		<div class="label">
			<label for="taskname">
				Name
			</label>
		</div>
		<input type="text" id="taskname" name="taskname" value="{1}" readonly/>
	</div>
	<div class="form-input-cont">
		<div class="label">
			<label for="tasktitle">
				Title
			</label>
		</div>
		<input type="text" id="tasktitle" name="tasktitle" value="{2}" placeholder="What needs to be done?"/>
	</div>
	<div class="form-input-cont">
		<div class="label">
			<label for="taskdesc">
				Description
			</label>
		</div>
		<textarea cols="80" rows="15" form="task-form" id="taskdesc" name="taskdesc" placeholder="Describe what needs to be done in more detail">{3}</textarea>
	</div>

	<div class="form-input-cont">
		<div class="label">
			<label for="status">
				{7}
			</label>
		</div>
		<select id="status" name="status" form="task-form">
			{10}
		</select>
	</div>

	<div class="form-input-cont">
		<div class="label">
			<label for="duedate">
				Due date
			</label>
		</div>
		<input type="date" id="duedate" name="duedate" value="1970-01-01" />
		<input type="time" id="duetime" name="duetime" value="01:00" />
	</div>
	<input type="submit" />
</form>
